@font-face {
	font-family: "Pacifico";
	src: url("fonts/Pacifico.ttf");
}

@font-face {
	font-family: "Axis";
	src: url("fonts/axis.woff");
}

@font-face {
	font-family: "Montserrat";
	src: url("fonts/Montserrat-Bold.ttf");
}

:root {
	--crimson: #985E5B;
	--white: #FFFFFF;
	--black: #000000;
	--inputGray: #BBBDBF;
	--menuGray: #F0F0F0;
	--lightGray: #F7F7F7;
	--gray: #EDEFF2;
	--darkBlue: #1d2533;
}

body {
	margin: 0;
	overflow-x: hidden;
}

.body--disable-scroll {
	height: 100%;
	overflow: hidden;
}

img {
	-webkit-user-drag: none;
	-webkit-user-select: none;
}

a {
	text-decoration: none;
}

.header {
	position: fixed;
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 45px;
	top: 0;
	padding: 0 0 10px;
	background-color: var(--white);
	z-index: 2;
}

.header__logo {
	font-size: 25px;
	letter-spacing: 3px;
	padding: 0 0 0 10px;
	margin: 0;
	color: var(--black);
	font-family: "Pacifico";
	cursor: default;
}

.icons {
	position: relative;
	display: flex;
	align-items: center;
	padding: 5px 10px 0 0;
}

.icons__cart {
	display: inline-block;
	position: relative;
	padding: 0 3px;
	width: 15px;
	height: 12px;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
}

.icons__cart-status {
	display: inline-block;
	position: relative;
	padding: 0 3px;
	font-size: 12px;
	letter-spacing: 2px;
	font-family: "Montserrat";
	cursor: default;
}

.icons__stick {
	display: inline;
	background-color: var(--black);
	margin: 0 3px;
	width: 1px;
	height: 15px;
}

.icons__hamburger-button {
	display: inline-block;
	position: relative;
	padding: 0 0 0 3px;
	width: 18px;
	height: 15px;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
}

.icons__cross {
	display: inline-block;
	position: relative;
	height: 18px;
	padding: 0 0 0 3px;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
}

.icons--hidden {
	display: none
}

.cart-menu {
	position: fixed;
	list-style-type: none;
	opacity: 0;
	top: 44px;
	background-color: var(--white);
	padding: 0;
	margin: 0;
	width: 115px;
	height: 138px;
	right: 35px;
	z-index: 3;
	transition: opacity 0.4s, top 0.4s;
}

.cart-menu--fade {
	opacity: 1;
	top: 54px;
}

.cart-menu--hidden {
	pointer-events: none;
}

.cart-menu__text {
	display: block;
	margin: 0;
	padding: 15px 0;
	font-size: 12px;
	text-align: center;
	letter-spacing: 1px;
	color: var(--darkBlue);
	font-family: "Montserrat";
	-webkit-tap-highlight-color: transparent;
}

.cart-menu__text:hover {
	color: var(--crimson);
}

.menu {
	list-style-type: none;
	opacity: 0;
	top: 28px;
	position: fixed;
	width: 100%;
	padding: 0;
	background-color: var(--white);
	z-index: 2;
	transition: opacity 0.4s, top 0.4s;
}

.menu--fade {
	opacity: 1;
	top: 38px;
	width: 100%;
}

.menu--hidden {
	pointer-events: none;
	width: 100%;
}

.menu_search-item {
	position: relative;
	display: flex;
}

.search__input {
	border: none;
	display: inline-block;
	padding-left: 10px;
	width: 100%;
	font-size: 12px;
	line-height: 65px;
	font-family: "Montserrat";
}

.search__input:focus {
	outline: none;
}

.search__input::placeholder {
	color: var(--inputGray);
	letter-spacing: 2px;
}

.search__icon {
	display: inline-block;
	position: absolute;
	right: 10px;
	width: 18px;
	height: auto;
	top: 18px;
}

.search__icon--hidden {
	display: none;
}

.menu__text {
	display: block;
	border-top: 2px solid var(--menuGray);
	padding: 0 0 0 10px;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 2px;
	line-height: 65px;
	color: #000000;
	font-family: "Montserrat";
	-webkit-tap-highlight-color: transparent;
}

.menu__text:hover {
	color: var(--crimson);
}

.menu__back-item {
	position: relative;
}

.back--hidden {
	display: none;
}

.back--visible {
	visibility: visible;
	pointer-events: auto;
	background-color: var(--white);
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
}

.back-item__text {
	text-align: right;
	text-transform: uppercase;
	margin: 0;
	padding: 0 10px 0 0;
	font-size: 12px;
	letter-spacing: 2px;
	line-height: 65px;
	color: var(--black);
	font-family: "Montserrat";
}

.back-item__text:hover {
	color: var(--crimson);
}

.item-claster {
	background-color: var(--white);
	flex-direction: column;
	list-style-type: none;
	padding: 0;
}

.item-claster--hidden {
	height: 0;
	visibility: hidden;
	pointer-events: none;
	list-style-type: none;
	padding: 0;
}

.item-claster--visible {
	visibility: visible;
	pointer-events: initial;
	max-height: 70vh;
	overflow-y: scroll;
	overflow-x: hidden;
}

.item-claster--submenu {
	position: absolute;
	top: 64px;
}

.menu__arrow {
	display: inline-block;
	width: 14px;
	height: 24px;
	align-self: center;
}

.menu__right-arrow-outline {
	display: flex;
	justify-content: space-around;
	position: absolute;
	right: 10px;
	top: 10px;
	border: 2px solid var(--menuGray);
	width: 43px;
	height: 43px;
}

.menu__left-arrow-outline {
	display: flex;
	justify-content: space-around;
	position: absolute;
	left: 10px;
	top: 10px;
	border: 2px solid var(--menuGray);
	width: 43px;
	height: 43px;
}

.menu__submenu-arrow-outline {
	right: 30px;
}

.menu__expandable-item {
	position: relative;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
}

.menu__submenu-text {
	display: block;
	border-top: 2px solid var(--menuGray);
	width: 100vw;
	margin: 0;
	padding: 0 0 0 10px;
	font-size: 12px;
	letter-spacing: 2px;
	line-height: 65px;
	color: var(--black);
	font-family: "Montserrat";
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
}

.menu__submenu-text:hover {
	color: var(--crimson);
}

.home {
	position: relative;
	margin: 60px 0 70px;
	height: 140vw;
	width: 100vw;
	overflow: hidden;
}

.home__img-shader {
	position: absolute;
	background-color: var(--darkBlue);
	width: 100%;
	height: 100%;
	opacity: 0.12;
	z-index: 1;
}

.home__img {
	position: relative;
	width: 100%;
	height: 100%;
}

.home__img-container {
	position: absolute;
	visibility: visible;
	right: 0;
	left: 0;
	height: 140vw;
	width: 100vw;
	transition: left 0.4s;
}

.home__img-container--hidden {
	left: 100vw;
}

.home__img-container--top {
	z-index: 1;
}

.home__text-box {
	position: absolute;
	width: 100%;
	left: 20px;
	bottom: 120px;
	cursor: default;
	z-index: 1;
}

.home__text-white {
	color: var(--white);
	margin: 0 0 5px;
	font-size: 28px;
	letter-spacing: 3px;
	font-family: "Axis";
	cursor: default;
}

.home__text-crimson {
	color: var(--crimson);
	margin: 0 0 30px;
	font-size: 22px;
	letter-spacing: 2px;
	font-family: "Montserrat";
}

.home__arrow-container {
	position: absolute;
	display: flex;
	padding: 0 0 0 20px;
	bottom: 70px;
	justify-content: space-between;
	width: 133px;
	z-index: 1;
}

.home__arrow-outline {
	position: relative;
	display: flex;
	align-content: center;
	justify-content: space-around;
	border: 2px solid var(--white);
	width: 55px;
	height: 55px;
	color: var(--white);
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
}

.home__arrow {
	width: 24px;
	height: 40px;
	align-self: center;
}

.building {
	width: 100%;
	height: auto;
	position: relative;
	display: flex;
	flex-direction: column;
}

.building__img1 {
	width: 81%;
	padding: 0 0 0 16%;
}

.building__img2 {
	position: relative;
	width: 81%;
	bottom: 12%;
	padding: 0 0 0 3%;
}

.about {
	display: flex;
	box-sizing: border-box;
	flex-direction: column;
	width: 100%;
	padding: 30px 10px 70px;
}

.about__title {
	margin: 0;
	padding: 0;
	font-size: 38px;
	letter-spacing: 8px;
	color: var(--darkBlue);
	font-family: "Axis";
	cursor: default;
}

.about__slogan {
	text-transform: uppercase;
	color: var(--crimson);
	padding: 10px 0 10px;
	margin: 0;
	font-size: 11px;
	letter-spacing: 1px;
	font-family: "Montserrat";
	cursor: default;
}

.about__text {
	margin: 0;
	padding: 0;
	font-size: 12px;
	letter-spacing: 2px;
	line-height: 30px;
	color: #404040;
	font-family: "Montserrat";
	cursor: default;
}

.gallery {
	display: flex;
	flex-direction: column;
	width: 100vw;
	background-color: var(--lightGray);
	padding: 70px 0;
}

.gallery__row {
	display: block;
	box-sizing: border-box;
	position: relative;
	display: flex;
	justify-content: space-between;
	padding: 0 5px;
}

.gallery__img {
	display: block;
	box-sizing: border-box;
	width: 50%;
	padding: 5px 5px;
}

.gallery__title {
	text-align: center;
	margin: 0;
	padding: 0;
	font-size: 38px;
	letter-spacing: 8px;
	color: var(--darkBlue);
	font-family: "Axis";
	cursor: default;
}

.gallery__slogan {
	color: var(--crimson);
	text-align: center;
	text-transform: uppercase;
	margin: 0;
	padding: 15px 0 30px;
	font-size: 11px;
	letter-spacing: 1px;
	font-family: "Montserrat";
	cursor: default;
}

.footer {
	position: relative;
	display: flex;
	box-sizing: border-box;
	flex-direction: column;
	background-color: var(--gray);
	padding: 20px 10px;
	width: 100vw;
}

.social-networks {
	display: flex;
	align-self: center;
}

.social-networks__icon {
	width: 33px;
	height: 33px;
	padding: 0 5px;
}

.footer__logo {
	align-self: center;
	font-size: 20px;
	letter-spacing: 2px;
	color: var(--darkBlue);
	font-family: "Pacifico";
	cursor: default;
}

.footer__follow-us {
	align-self: center;
	text-transform: uppercase;
	margin: 0;
	padding: 15px 0;
	font-size: 12px;
	line-height: 25px;
	color: var(--darkBlue);
	font-family: "Montserrat";
	text-align: right;
	cursor: default;
}

.footer__copyright {
	text-align: center;
	text-transform: uppercase;
	margin: 0;
	padding: 0 0 10px;
	font-size: 12px;
	letter-spacing: 1px;
	color: var(--darkBlue);
	font-family: "Axis";
	cursor: default;
}